@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)!</h1>
    <p>Learn about <a href="https://www.youtube.com/@@programandoemvba">My chanel</a>.</p>
    <p id="telefone">@ViewData["Contato"]</p>
</div>
